.hub {
  background-color: $color-grey;
  // background-image: url('https://story-maker-app.s3.amazonaws.com/antique_map.jpeg');
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  
  &::before {
    content: '';
    width: 100%;
    height: 1260px;
    position: absolute;
    background-color: rgba(255, 255, 255, .4);
  }

  &__contents {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 5rem repeat(5, 1fr) 5rem;
    grid-template-rows: 8rem 100rem 8rem;
    grid-gap: 5rem;
    background-color: white;
  }

  &__main {
    grid-column: 2 / span 3;
    grid-row: 2 / -2;
  }
  
  &__sidebar {
    grid-column: 5 / span 2;
    grid-row: 2 / -1;
  }
  
  &__main,
  &__sidebar {
    & > *:not(:first-child) {
      margin: 7rem 0;
    }
  }

  &__activity {
    height: $basic-item-height;
  }

  &__destination-container {
    @include calc("height", "100% - #{$basic-item-height} - 7rem");
  }

  .left-section {
    position: relative;
    padding: 5rem 3rem;
    box-shadow: $shadow-2;

    .scroll_svg {
      position: absolute;
      left: -7rem;
      top: -5rem;
      pointer-events: none;
    }
  }

  &__icon-holder {
    &:first-child {
      margin-right: 1rem;
    }

    &:nth-child(2) {
      margin-left: 1rem;
    }
  }
  &__section {
    height: $basic-item-height;
    position: relative;
    display: flex;

    .scroll-svg {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: -4.5rem;
      pointer-events: none;
    }
  }

  &__new-adventure {
    @include label-1($gradient-green-radial, white);
    @include opacity-change-on-hover();
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      margin: 0 1.5rem;
    }
  }

  &__greet {
    font-weight: bolder;
    
    span {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.new-adventure__svg-container {
  overflow: hidden;
  width: 5rem;
  height: 5rem;
}