.hub {
  background-color: $color-light;
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  
  &::before {
    content: '';
    width: 100%;
    height: 1260px;
    position: absolute;
    background-color: $color-transparent-light;
  }

  
  &__contents {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 5rem repeat(5, 1fr) 5rem;
    grid-template-rows: 8rem 100rem 8rem;
    grid-gap: 5rem;
    background-color: white;
  }
  
  &__content {
    &--empty {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $color-grey-light;

      &.half-height {
        height: 50%;
      }
    }
  }
  &__main {
    grid-column: 2 / span 3;
    grid-row: 2 / -2;
  }
  
  &__sidebar {
    grid-column: 5 / span 2;
    grid-row: 2 / -1;
  }
  
  &__main,
  &__sidebar {
    & > *:not(:first-child) {
      margin: 7rem 0;
    }
  }

  &__activity {
    height: $basic-item-height;
  }

  &__destination-container {
    @include calc("height", "100% - #{$basic-item-height} - 7rem");
  }

  .left-section {
    position: relative;
    padding: 5rem 3rem;
    box-shadow: $shadow-2;

    .scroll_svg {
      position: absolute;
      left: -7rem;
      top: -5rem;
      pointer-events: none;
    }
  }

  &__icon-holder {
    @include respond-medium {
      width: 100%;
    }

    &:first-child {
      margin-right: 2rem;

      @include respond-medium {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

    &:nth-child(2) {
      min-width: 50%;
    }
  }
  &__section {
    height: $basic-item-height;
    position: relative;
    display: flex;

    .scroll-svg {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: -4.5rem;
      pointer-events: none;
    }

    @include respond-medium {
      flex-direction: column;
    }
  }

  &__new-adventure {
    @include label-1($gradient-green-radial, white);
    @include opacity-change-on-hover();
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-medium;
    line-height: 2rem;
    letter-spacing: .1rem;

    &-svg-container {
      overflow: hidden;
      height: 5rem;
      width: 5rem;
      pointer-events: none;
    }

    h3 {
      width: 100%;
      height: 100%;
    }

    & > * {
      margin: 0 1.5rem;
    }
  }

  &__greet {
    font-weight: bolder;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    
    span {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}