.hub {
  display: grid;
  grid-template-columns: 15rem repeat(5, 1fr) 15rem;
  grid-template-rows: 20rem 20rem 80rem;
  grid-gap: 5rem;

  & > * {
    border: 1px solid black;
  }

  &__header {
    grid-column: 1 / -1;
    // height: 100%;
    // width: 100%;
    background-color: $color-blue-light;
    position: relative;
  }

  &__navbar {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    background-color: $color-green;
  }

  &__main {
    grid-column: 2 / span 3;
    grid-row: 2 / -1;
  }

  &__sidebar {
    grid-column: 5 / span 2;
    grid-row: 2 / -1;
  }

  &__activity {
    background-color: lightgrey;
    height: $basic-item-height;
  }

  &__upcoming {
    @include calc("height", "100% - #{$basic-item-height}");
  }

  &__top-container {
    height: $basic-item-height;
  }

  &__icon-holder {
    background-color: grey;
    @include calc("height", "100% / 2");
  }

  &__hero-container {
    background-color: grey;
    height: $basic-item-height;
  }

  &__story-container {
    background-color: lightgrey;
    height: $basic-item-height;
  }
}