.splash {
  width: 100vw;
  height: 200rem;
  background-image: url('https://story-maker-app.s3.amazonaws.com/map.png');
  background-size: cover;
  background-position: center;

  input[type=text],
  input[type=email],
  input[type=password] {
    background-color: transparent;
  }

  &::before {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: $color-transparent-light;
  }

  &__title {
    font-size: 10rem;
  }

  &__main {
    position: absolute;
    left: 20rem;
    top: 15rem;
    width: 60rem;
    height: 170rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__description {
    font-size: $font-size-large;
    line-height: 5rem;
    height: 100%;
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      margin: 3rem 0;
    }
  }

  &__section {
    opacity: 0;
    animation: slidein 1s ease-out;
    animation-delay: .3s;
  }

  &__container {
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
  }

  &__scroll {
    margin: 7% 0;
    width: 85rem;
    height: 80rem;
    background-image: url('https://story-maker-app.s3.amazonaws.com/scroll.png');
    background-size: 90% auto;
    background-repeat: no-repeat;
  }

  &__form {
    position: absolute;
    left: 28rem;
    top: 25rem;
    height: 30rem;
    width: 25rem;

    .title {
      font-size: 4rem;
      font-family: Zapfino;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    & > form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & * {
        margin: .5rem 0;
        width: 100%;
      }
    }
  }

  &__toggle-tag {
    position: absolute;
    top: 22rem;
    left: 20rem;
    
    & > span {
      cursor: pointer;
      margin: 0 1rem;
      color: $color-grey-dark;
      @include opacity-change-on-hover();
    }
  }

  &__error-container {
    position: absolute;
    top: 63rem;
    left: 17rem;
    width: 45rem;
    max-height: 6rem;
    overflow-y: scroll;
    color: $color-pink;
    @include hide-scroll();
    font-size: $font-size-small;
    list-style: inside square;

    li {
      padding: .5rem;
      background: rgba(255, 255, 255, .2);
    }
  }

  &__footer {
    background-color: $color-transparent-dark;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $color-light;
    padding: 2rem;

    a,
    a:active,
    a:visited {
      color: $color-light;
      margin-right: .5rem;
    }

    .MuiSvgIcon-root {
      font-size: $font-size-medium;
    }
  }
}

@keyframes slidein {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}