.splash {
  width: 100vw;
  height: 200rem;
  background-image: url('https://story-maker-app.s3.amazonaws.com/map.png');
  background-size: cover;
  background-position: center;

  @include respond-medium-small {
    display: flex;
    height: 100vh;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    background-color: transparent;
  }

  &::before {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: $color-transparent-light;
  }

  &__title {
    font-size: 10rem;

    @include respond-medium-small {
      font-size: 6rem;
    }
  }

  &__main {
    position: absolute;
    left: 20rem;
    top: 15rem;
    width: 30vw;
    height: 160rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-medium-small {
      position: relative;
      height: max-content;
      left: 5rem;
      top: 5rem;
      display: flex;
      width: 100%;
    }
  }

  &__top-container {
    height: 100%;
    @include respond-medium {
      width: 57vw;
    }
  }

  &__description {
    font-size: $font-size-large;
    line-height: 5rem;
    height: 100%;
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      margin: 3rem 0;
    }

    @include respond-medium-small {
      font-size: $font-size-default;
      line-height: 2.5rem;
      margin-top: 0;
    }
  }

  &__section {
    opacity: 0;
    animation: slidein 1s ease-out;
    animation-delay: .3s;
  }

  &__container {
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;

    @include respond-medium-small {
      position: relative;
    }
  }

  &__scroll {
    height: 100%;
    width: 100%;
    background-image: url('https://story-maker-app.s3.amazonaws.com/scroll.png');
    background-size: auto 45vw;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-medium-small {
      background-image: none;
      background: $color-transparent-light;
    }
  }

  &__form {
    width: 25rem;

    @include respond-large {
      right: 38%;
    }

    @include respond-medium-small {
      top: 15rem;
    }

    .title {
      font-size: 4rem;
      font-family: Zapfino;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      @include respond-large {
        font-size: 3rem;
      }
    }

    & > form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & * {
        margin: .5rem 0;
        width: 100%;
      }
    }
  }

  &__toggle-tag {
    & > span {
      cursor: pointer;
      margin: 0 1rem;
      color: $color-grey;
      @include opacity-change-on-hover();
    }

    @include respond-medium-small {
      position: absolute;
      top: 5rem;
    }
  }

  &__error-container {
    width: 50%;
    max-height: 6rem;
    overflow-y: scroll;
    color: $color-error;
    @include hide-scroll();
    font-size: $font-size-small;
    list-style: inside square;
    cursor: ns-resize;

    li {
      padding: .5rem;
      background: rgba(255, 255, 255, .2);
    }
  }

  &__footer {
    background-color: $color-transparent-dark;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $color-light;
    padding: 2rem;

    a,
    a:active,
    a:visited {
      color: $color-light;
      margin-right: .5rem;
    }

    .MuiSvgIcon-root {
      font-size: $font-size-medium;
    }
  }
}

@keyframes slidein {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}