@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

@mixin label-1($color) {
  font-size: 1.8rem;
  background-color: $color;
  color: $color-light;
  border-radius: 3px;
  padding: 1rem;
}

// background-image: url(https://story-maker-app.s3.amazonaws.com/antique_map.jpeg);
// background-size: cover;
@mixin hide-scroll() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}