@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  // background-color: $color-blue-light;
}

a,
a:active,
a:visited {
  text-decoration: none;
  opacity: 1;
  transition: opacity .2s ease-in;
  color: $color-dark;

  &:hover {
    opacity: .8;
  }
}

.title {
  font-family: 'Oswald', sans-serif;
}