$color-dark: rgb(13, 6, 48);
$color-light: rgb(219, 219, 219);
$color-white: rgb(255, 255, 255);

$color-grey-dark: rgb(85, 85, 85);
$color-grey: rgb(122, 122, 122);
$color-grey-light: rgb(183, 182, 189);

$color-blue-dark: rgb(24, 49, 79);
$color-blue-light: rgb(55, 77, 118);
$color-green: rgb(139, 190, 178);
$color-lime: rgb(230, 249, 175);
$color-error: rgb(219, 88, 88);

$color-transparent-light: rgba($color-white, .5);
$color-transparent-dark: rgba($color-grey-dark, .4);

$font-size-default: 1.4rem;

$font-size-smallest: 1rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;
$font-size-largest: 2.5rem;

$shadow-1: 3px 3px 5px rgba($color-dark, .3);
$shadow-2: 0 0 1.4rem rgba($color-light, .8);

$gradient-green-radial: radial-gradient(ellipse at 500%, 
                        $color-lime, $color-green);
$gradient-grey: linear-gradient(45deg, 
                rgba($color-light, .5) 100%, rgba($color-light, 1) 10%);
$gradient-darker-grey: linear-gradient(45deg, rgba($color-grey-dark, .5) 100%,
                       rgba($color-grey-dark, 1) 10%);

$basic-item-height: 20rem;