.activity {
  height: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;

  svg {
    height: max-content;
    width: 100%;
    pointer-events: none;
  }

  &__container {
    height: 100%;
  }

  &__filter-container {
    position: absolute;
    right: 3rem;
    top: 3rem;
    background-color: skyblue;
  }

  &__category {
    position: absolute;
    overflow-x: scroll;
    right: 0;
    min-width: 10rem;
    max-width: 70rem;
    background: $color-transparent-light;
    display: flex;
    justify-content: space-between;
    @include hide-scroll();

    & > * {
      padding: 0 1rem;
    }
  }

  &__tag {
    display: flex;
    & > * {
      margin: 0 .2rem;
    }
  }
}