.activity {
  height: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;

  svg {
    height: max-content;
    width: 100%;
  }

  &__container {
    height: 100%;
  }

  &__filter-container {
    position: absolute;
    right: 3rem;
    top: 3rem;
  }

  &__category {
    svg {
      position: absolute; 
      transform: scale(0.1);
    }
  }
}