.activity {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: max-content;
    // height: 100%;
  }

  &__container {
    height: 100%;
  }

  &__filter-container {
    position: absolute;
    right: 3rem;
    top: 3rem;
  }
}