.destination {
  min-height: $basic-item-height;
  max-height: max-content;
  padding: 3rem;
  margin-right: 2rem;
  max-width: 100%;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  // border: 1px solid black;

  &:not(:first-child) {
    margin-top: 3rem;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__container {
    overflow-y: scroll;
    height: 100%;
    @include custom-scroll;
  }

  &__section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;

    & > * {
      padding: 1rem 0;
    }
  }

  &__info {
    background: $gradient-grey;
    border-radius: 2px;
    padding: 1rem;
    margin-top: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    min-height: 5rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    & > * {
      margin-right: 1rem;
    }
  }
  &__days-left {
    @include label-1($color-blue-light, $color-light);
    align-self: flex-end;
  }

  &__description, &__story {
    color: $color-dark-lighter2;
  }

  &__alert {
    @include label-1($color-blue-dark, $color-light);
    align-self: flex-end;
    margin-bottom: .5rem;
  }

  &__target-date {
    align-self: flex-end;
    color: $color-dark-lighter2;

    &.alert {
      color: $color-pink;
    }
  }

  &__days {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: end;
  }

  &__stats {
    display: flex;
    justify-content: flex-end;
  }

  &__complete {
    font-weight: bolder;
    font-size: 1.2rem;
    @include opacity-change-on-hover();
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__final {
    background: $gradient-grey;
  }

  &__form {
    background: $gradient-grey;
    height: max-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;

    input:not([type="submit"]):not([type=radio]),
    textarea {
      background-color: transparent;
      width: 100%;
      
      &:focus {
        outline: none;
      }
    }

    input[type=range],
    select {
      margin: 1rem 0;
    }

    button {
      margin-top: 1rem;
    }
  }
}

.history {
  &__container {
    overflow-y: scroll;
    height: 100%;
    @include custom-scroll;
  }
}

.past-destination {
  background: $gradient-grey;
  border-radius: 2px;
  padding: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3rem;

  &__info {
    color: $color-dark-lighter2;
    font-size: 1.2rem;
    width: 40%;
  }
  
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}