.destination {
  height: $basic-item-height;
  padding: 3rem;
  // border: 1px solid black;
  line-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &:not(:first-child):not(:last-child) {
    margin: 5rem 0;
  }

  &__container {
    // height: 100%;
    // background-color: lightgrey;
    overflow-y: scroll;
    height: 100%;
    // background-color: pink;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__description {
  }

  &__days-left {
    @include label-1($color-blue-light);
    align-self: flex-end;
  }

  &__target-date {
    align-self: flex-end;
  }

  &__form {
    background-color: $color-dark-light;
    color: white;
    height: max-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    input {
      width: 100%;
    }

    & > div {
      margin: .5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}