.footer {
  background-color: $color-blue-dark;
  height: 15rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;

  a,
  a::before,
  a::after {
    color: white;
  }

  &__developed-by {
    display: flex;
    align-items: center;
  }

  &__icon-container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    height: 100%;

    a {
      margin: .5rem;
    }
  }
}