.form {  
  &__menu {
    cursor: pointer;
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    @include opacity-change-on-hover();
    color: $color-grey;

    & > svg {
      margin: 0 .5rem;
    }
  }

  &__slider {
    position: relative;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
  }

  &__number-display {
    position: absolute;
    line-height: initial;
    background: $color-grey-dark;
    height: 2rem;
    width: 2.5rem;
    right: -3rem;
    padding: .25rem;
    text-align: center;
    border-radius: 2px;
    color: $color-light;
    font-size: $font-size-smallest;
  }

  &--edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;

    input, textarea {
      margin: 1rem 0;
      background: transparent;
      width: 100%;
    }

    .form__slider {
      width: 80%;
    }
  }

  &__error {
    &-container {
      font-size: $font-size-smallest;
      height: 5rem;
      overflow: scroll;
      list-style: inside square;
      color: $color-error;
      @include hide-scroll();
    }
  }

  &--delete {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: inherit;
    padding: 2rem;
  }

  &--inline {    
    input {
      width: 100%;
    }
    
    button {
      font-size: $font-size-smallest;
      white-space: nowrap;
      margin-left: 2rem;
    }
  }
}