.form {  
  &__menu {
    cursor: pointer;
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    @include opacity-change-on-hover();
    color: $color-grey;

    & > svg {
      margin: 0 .5rem;
    }
  }

  &--edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    input, textarea {
      margin: 1rem 0;
      background: transparent;
      width: 100%;
    }
  }

  &--delete {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: inherit;
  }
}