.form {  
  // &--edit {
  //   input {
  //     width: 50rem;
  //     background: transparent;
  //   }
  //   button {
  //     margin-left: 2rem;
  //   }
  // }

  &--edit {      
    input, textarea {
      margin: 1rem 0;
      background: transparent;
      width: 100%;
    }

    button {
      width: 100%;
    }
  }

  &--delete {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}