.hero {
  min-width: 15rem;
  line-height: 2rem;
  padding: 1rem;

  &__container {
    display: flex;
    height: 100%;

    &:not(h4) {
      overflow-x: scroll;
    }
  }

  &__avatar {
    height: 10rem;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-weight: bolder;
  }

  &__avatar,
  &__name,
  &__level,
  &__hp {
    display: flex;
    justify-content: center;
  }

  &__new-hero {
    height: 100%;
    @include label-1($color-blue-light);
    cursor: pointer;
  }
}