.hero {
  width: 15rem;
  line-height: 2rem;
  padding: 1rem;
  margin: 0 1rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__container {
    display: flex;
    height: 100%;
    @include horizontal-scroll();
  }

  &__avatar {
    height: 10rem;
    margin-bottom: 1rem;
    
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-weight: bolder;
    width: 100%;
    text-align: center;
    @include hide-overflowing-words();
  }

  &__stat {
    position: relative;
    top: -2rem;
    width: 100%;
    color: $color-light;
    display: flex;
    justify-content: space-between;

    & > .hero__level {
      background-color: $color-blue-light;
      font-size: 1.2rem;
      width: 2rem;
      height: 2rem;
      display: block;
      border-radius: 50%;
      text-align: center;
    }

    .status-bar {
      background-color: white;
      display: inline-block;
      width: 3rem;
      height: .6rem;
      box-shadow: $shadow-2;

      .hp-meter {
        background-color: $color-green;
        display: block;
        height: 100%;
      }
      .xp-meter {
        background-color: $color-blue-light;
        display: block;
        height: 100%;
      }
    }
  }

  &__status-bars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-end;
    align-items: center;
    max-width: 3rem;
  }

  &__hp {
    position: relative;
    right: -8rem;
    top: -2rem;
    background-color: $color-blue-light;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: $color-light;
  }

  &__new-hero {
    height: 100%;
    cursor: pointer;
    width: 7rem;
    // background: $gradient-green-radial;
    background: $gradient-green-radial;
    color: white;
    padding: 1rem;
    border-radius: 3px;
    line-height: 2rem;
    letter-spacing: .1rem;
  }
}