.monster {
  height: $basic-item-height;
  background: $gradient-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  overflow-y: scroll;
  border-radius: 2px;
  margin: 0 2rem;
  
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include hide-scroll;
  
  &__container {
    @include calc("height", "100% - 1.5 * #{$basic-item-height}");
    overflow-y: scroll;
    @include custom-scroll();
    margin-top: 3rem;
  }
  &__extra-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: $color-dark-lighter;
    opacity: .85;
  }

  &__form {
    background: $gradient-darker-grey;
    color: white;
    margin: 0 2rem;
    @include calc("height", "1.5 * #{$basic-item-height}");
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    align-items: center;
    justify-content: space-around;
    height: $basic-item-height;

    input, textarea {
      width: 35rem;
    }

    &-section {
      position: relative;
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      width: 50rem;

      .monster__form-number-display {
        position: absolute;
        right: -4rem;
        top: -.3rem;
        width: 3rem;
        font-size: 1.2rem;
        background: $gradient-grey;
        text-align: center;
        width: 2rem;
        border-radius: 2px;
      }
    }

    button {
      margin-top: 1rem;
    }
  }
}