.memoir {
  @include mystory-item('https://story-maker-app.s3.amazonaws.com/bungalo-house.png');

  &__extra-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: $color-dark-lighter2;
  }

  &__description {
    color: $color-dark-lighter2;
  }
}