.modal {
  width: 40vw;
  min-width: 45rem;
  height: 68rem;
  position: fixed;
  opacity: 1;
  z-index: 2;
  top: 50%;
  left: 50%;
  box-shadow: $shadow-1;
  transform: translate(-50%, -50%) scale(1);
  transition: .2s ease-in-out;
  overflow-y: scroll;
  background-color: white;

  &__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: .5;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: .2s ease-in-out;
  }

  .selected {
    border: 3px solid salmon;
  }

  &__page-container {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }

  img {
    width: 20rem;
    height: 10rem;
    object-fit: contain;
  }
}