.modal {
  width: 40vw;
  min-width: 45rem;
  height: 68rem;
  position: fixed;
  opacity: 1;
  z-index: 6;
  top: 50%;
  left: 50%;
  box-shadow: $shadow-1;
  transform: translate(-50%, -50%) scale(1);
  background-color: white;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  font-size: $font-size-medium;
  outline: none;

  & > * {
    margin: 1rem;
  }

  &__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: .5;
    z-index: 5;
    top: 50%;
    left: 50%;
    background: $color-transparent-light;
    transform: translate(-50%, -50%) scale(1);
  }

  &__field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
      width: 50rem;
    }

    &--no-proceed {
      display: flex;
      justify-content: center;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    height: 100%;
    justify-content: center;

    #monster-image {
      height: 15rem;
    }

    & > * {
      margin: 1rem 0;
    }
  }

  &__button-container {
    display: flex;
    justify-content: space-between;

    &--no-proceed {
      display: flex;
      justify-content: center;
    }
  }

  &__fight-buttons {
    display: flex;
    flex-direction: column;
    height: 20%;

    & > * {
      margin: .5rem 0;
    }
  }

  &__content {
    &--selected {
      border: 3px double $color-green;
    }
  }

  &__page-container {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    @include custom-scroll();
  }

  img {
    width: 20rem;
    height: 10rem;
    object-fit: contain;
  }

  &__title {
    width: 100%;
    top: 0;
    font-size: $font-size-largest;
    text-align: center;
  }

  &__errors-container {
    position: absolute;
    color: $color-pink;
    font-size: $font-size-default;
    bottom: 5.75rem;
    left: 17.5rem;
    text-align: center;
    width: 40rem;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;

}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}