.monster {
  @include mystory-item;
  @include hide-scroll;

  flex-direction: row;
  justify-content: space-between;
  
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__container {
    @include calc("height", "100% - 1.5 * #{$basic-item-height}");
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    & *:not(:first-child) {
      color: $color-dark-lighter2;
      font-size: 1.2rem;
    }
  }

  &__title {
    font-size: 2.5rem;
  }

  &__description {
    overflow-y: scroll;
    max-height: 10rem;
    @include hide-scroll;
    color: $color-dark-lighter;
  }

  &__extra-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: $color-dark-lighter;
    opacity: .85;
  }

  &__form {
    @include mystory-form('https://story-maker-app.s3.amazonaws.com/tree-1.png');
  }

  &__fight-monster {
    background-color: grey;
    margin: 0 2rem;
    height: $basic-item-height;
    padding: 2rem;
    display: flex;
  }

  &__name {
    font-weight: bolder;
  }

  img {
    height: 100%;
    object-fit: contain;
  }
}