.monster {
  @include mystory-item('https://story-maker-app.s3.amazonaws.com/tree-1.png');
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    & *:not(:first-child) {
      color: $color-grey;
      font-size: $font-size-small;
    }
  }

  &__fight-monster {
    background-color: grey;
    margin: 0 2rem;
    height: $basic-item-height;
    padding: 2rem;
    display: flex;
  }

  &__name {
    font-weight: bolder;
  }

  img {
    height: 100%;
    object-fit: contain;
  }
}