.navbar {
  color: $color-light;
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  background-color: $color-blue-dark;
  // background-image: url(https://story-maker-app.s3.amazonaws.com/header_map.jpeg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 15rem;

  a,
  a::before,
  a::after {
    color: white;
  }

  &__logo {
    font-size: 2.8rem;
  }

  &__menu {
    display: flex;
    min-width: 6%;
    max-width: 10%;
    height: 100%;
    justify-content: space-between;

    &-container {
      height: 100%;
      position: relative;
    }

    a {
      width: 100%;
    }

    svg {
      height: 100%;
    }

    .svg__container {
      height: 100%;
    }
  }

  &__hamburger {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 3rem;
    overflow: hidden;
    cursor: pointer;

    svg {
      pointer-events: none;
    }
  }

  &__popup, &__sub-popup {
    position: absolute;
    box-shadow: $shadow-2;
    border-radius: 2px;
    top: 6rem;
    width: 18rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  &__popup {
    background: white;
    height: 25rem;
    padding: 2rem 0;
    color: $color-grey;
    user-select: none;
    transition: opacity .2s ease-in;
  }
  
  &__stories {
    position: relative;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    transition: all .1s ease-in;

    &-container {
      width: 100%;
      text-align: center;
    }

    &:hover{ 
      background: rgba(0,0,0,.05);
      color: $color-dark;
    }

    a {
      color: $color-grey;
      cursor: pointer;

      &:hover {
        background: $gradient-darker-grey;
        color: $color-light;
      }
    }

  }

  &__sub-popup {
    left: -50%;
    top: 0;
    background: $color-grey;
    line-height: 3rem;
    transition: opacity .1s ease-in;
    
    a {
      width: 100%;
      padding: 1rem;
      @include hide-overflowing-words;
    }
  }

  &__logout {
    cursor: pointer;
    width: 100%;
    text-align: center;

    &:hover {
      color: $color-dark;
    }
  }

  &__popup-top {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: $color-lime;
      margin-top: 1rem;
    }
  }

  &__profile-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    margin-bottom: .5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}