.overview {
  position: relative;
  height: max-content;
  background: $gradient-grey;
  border-radius: 3px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 3rem;

  @include respond-medium {
    padding: 1rem;
    line-height: 2rem;
  }

  &__container {
    @include respond-medium {
      width: 50%;
    }
  }
}