.status {

  &__container {
    overflow-y: scroll;
    @include custom-scroll();
  }

  &__field {
    display: flex;
    width: 30rem;
    justify-content: space-between;
    padding-right: 2rem;
    @include default-items();

    & > p:first-child {
      width: 75%;
      @include hide-overflowing-words();
    }

    .alert {
      color: $color-pink;
    }
  }

  &__title {
    justify-self: center;
    width: 100%;
    border-radius: 2px;
    padding-right: 2rem;
    background-color: $color-light;
    @include default-title();
  }
}