.status {
  &__field {
    display: flex;
    width: 30rem;
    justify-content: space-between;

    .alert {
      color: red;
    }
  }

  &__title {
    justify-self: center;
    background-color: $color-light;
  }
}