.status {

  &__container {
    overflow-y: scroll;
    height: 100%;
    @include custom-scroll();

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__field {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    @include default-items();

    & > p:first-child {
      // width: 75%;
      justify-self: flex-start;
      @include hide-overflowing-words();
    }

    .alert {
      color: $color-error;
    }
  }

  &__title {
    justify-self: center;
    width: 100%;
    border-radius: 2px;
    padding-right: 2rem;
    background-color: $color-light;
    @include default-title();
  }

  &__action {
    display: flex;
  }

  &__svg-container {
    max-height: inherit;
    max-height: 2rem;
    width: 2rem;
    overflow: hidden;
    margin-right: .5rem;
  }
}