.storyhome {
  box-shadow: $shadow-2;
  height: 100%;
  line-height: 3rem;

  @include respond-large {
   p, div {
     font-size: $font-size-small;
   }
  }

  &__section {
    min-height: 25rem;
    max-height: max-content;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;

    &:first-child {
      height: 40rem;
    }

    img {
      height: 100%;
    }

    @include respond-large {
      // height: 10rem;
      min-height: 10rem;
      max-height: max-content;
      line-height: 2rem;
      padding: 3rem;
    }
  }

  &__castle {
    width: 30%;
    height: auto;
    object-fit: contain;
  }

  &__story {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__field {   
    min-height: 3rem; 
    text-align: left;

    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        // width: 3rem;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  &__label {
    min-width: max-content;
    max-width: 15rem;
    background: white;

    @include respond-large {
      // max-width: 1rem;
      min-width: max-content;
      max-width: 20rem;
    }
  }

  &__data {
    background: white;
    max-width: 30rem;
    min-width: min-content;
    text-align: right;

    @include respond-large {
      max-width: 15rem;
      min-width: max-content;
    }
  }

  &__line {
    display: flex;

    @include respond-large {
      flex-direction: column;
    }
  }

  &__skulls {
    img {
      width: 2.5rem;

      @include respond-large {
        width: 2rem;
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__hero {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // height: 50%;
    max-height: 15rem;

    @include respond-large {
      max-height: 10rem;
      background: white;
    }
  }

  &__hero-container {
    width: 100%;
    // height: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;

    @include respond-large {
      flex-direction: column;
    }
  }

  &__hero-image {
    width: 20rem;
    // padding: 1rem;

    img {
      object-fit: contain;
      width: 100%;
    }

    @include respond-medium {
      display: none;
    }
  }

  &__hero-name {
    font-weight: bolder;
  }

  &__hero-info {
    width: 20rem;
    background: $gradient-grey;
    padding: 1.5rem;

    .status-bar {
      background-color: white;
      display: inline-block;
      width: 100%;
      height: 1rem;
      box-shadow: $shadow-2;

      .hp-meter {
        background-color: $color-green;
        display: block;
        height: 100%;
      }
      .xp-meter {
        background-color: $color-blue-light;
        display: block;
        height: 100%;
      }
    }
  }

  &__hero-hp,
  &__hero-xp {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: $font-size-small;
    justify-content: flex-end;

    @include respond-large {
      font-size: $font-size-smallest;
    }
  }

  &__hero-stats {
    border: 1px solid black;
    width: 20rem;
  }

  &__calendar-container {
    width: 100%;
    line-height: 5rem;
  }
}