.storyhome {
  &__section {
    height: 20rem;
    border: 1px solid black;
    margin-bottom: 3rem;
    padding: 3rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  &__container {
    width: 100%;
    height: 100%;
  }

  &__hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__hero-image {
    width: 20rem;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__hero-info {
    border: 1px solid black;
    width: 20rem;

    .status-bar {
      background-color: white;
      display: inline-block;
      width: 100%;
      height: 1rem;
      box-shadow: $shadow-2;

      .hp-meter {
        background-color: $color-green;
        display: block;
        height: 100%;
      }
      .xp-meter {
        background-color: $color-blue-light;
        display: block;
        height: 100%;
      }
    }
  }

  &__hero-stats {
    border: 1px solid black;
    width: 20rem;
  }
}