.story {
  width: 15rem;
  line-height: 2rem;
  padding: 1rem;
  height: 100%;

  & > * {
    margin: 1rem 0;
  }
  
  &__container {
    display: flex;
    height: 100%;
    @include horizontal-scroll();
    // margin-right: 1rem;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__label {
    &-1 {
      background-color: $color-green;
      position: relative;
      top: -1rem;
      width: 100%;
      height: 2px;
    }
    &-2 {
      background-color: $color-lime;
      position: relative;
      top: -1rem;
      width: 100%;
      height: 2px;
    }
    &-3 {
      background-color: $color-blue-light;
      position: relative;
      top: -1rem;
      width: 100%;
      height: 2px;
    }
  }

  &__title {
    @include hide-overflowing-words();
    @include default-title();
    width: 100%;
  }

  &__world-name {
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > p:first-child {
      font-size: 1.2rem;
    }

    & > p:nth-child(3) {
      font-weight: bolder;
    }
  }
}