.svg {

  &__rect {
    display: inline;

    &-container {
      display: none;
    }
  }

  &__path {
    fill: $color-dark-lighter;
    width: 5rem;
  }

  &__shield {
    fill: $color-light;
    width: 14rem;
    position: absolute;
    top: -.5rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    position: relative;

    svg {
      margin: 0 auto;
    }
  }
}

#frame {
  position: absolute;
  width: 100%;
  top: -10rem;
}

#scroll {
  text-anchor: middle;
}

#line {
  fill-rule:evenodd;
  clip-rule:evenodd;
  width: 60%;
}