.svg {

  &__rect {
    display: inline;

    &-container {
      display: none;
    }
  }

  &__path {
    fill: $color-dark-lighter;
  }

  &__container {
    display: flex;
    justify-content: center;

    svg {
      margin: 0 auto;
    }
  }
}

#frame {
  position: absolute;
  width: 100%;
  top: -10rem;
}

#scroll {
  text-anchor: middle;
}

#line {
  fill-rule:evenodd;
  clip-rule:evenodd;
  width: 60%;
  // width: 100%;
  // enable-background: new 0 0 500 500;
}