.task {
  padding: 1rem;
  background: $gradient-grey;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  @include default-items();

  &__title {
    width: 90%;
    @include hide-overflowing-words();
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 2rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    @include custom-scroll();
  }

  &__complete {
    border-radius: 50%;
    border: 1.8px solid $color-dark-lighter;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: $color-dark-lighter;
    cursor: pointer;
    @include opacity-change-on-hover();
    @include popup-on-hover('Mark Complete');
  }

  &__all-completed {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.daily-task {
  height: $basic-item-height;
  background: $gradient-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  overflow-y: scroll;
  margin: 2rem;
  border-radius: 2px;
  position: relative;

  @include hide-scroll;

  &__container {
    height: 100%;
    overflow-y: scroll;
    @include custom-scroll();
  }

  &__form {
    background: $gradient-darker-grey;
    color: white;
    margin: 0 2rem;
    height: max-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    align-items: center;
    justify-content: space-around;

    &-section {
      position: relative;
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      width: 50rem;
    }

    
    input {
      width: 35rem;
    }
    
    & > div {
      margin: .5rem;
      display: flex;
      justify-content: space-between;
      width: 50rem;
    }
    button {
      margin-top: 1rem;
    }
  }

  &__edit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 50rem;
      background: transparent;
    }
  }

  &__delete-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    input {
      width: 50rem;
      background: transparent;
    }
  }

  &__menu {
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    display: flex;
    @include opacity-change-on-hover();
    font-size: 1.2rem;

    & > p {
      margin: 0 .5rem;
    }
  }
}