.task {
  width: 100%;
  padding: 1rem;
  margin: .5rem;
  background-color: $color-dark-light;
  
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

}