.task {
  padding: 1rem;
  background: $gradient-grey;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  @include default-items();

  &__title {
    width: 90%;
    @include hide-overflowing-words();
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 2rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    @include custom-scroll();
  }

  &__complete {
    border-radius: 50%;
    border: 1.8px solid $color-dark-lighter;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: $color-dark-lighter;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease-in;
    @include opacity-change-on-hover();
    @include popup-on-hover('Mark Complete');
  }

  &__all-completed {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.daily-task {
  height: $basic-item-height;
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
  padding: 2rem;
  overflow-y: scroll;

  @include hide-scroll;


  &__container {
    height: 100%;
    overflow-y: scroll;
  }

  &__form {
    background-color: $color-dark-light;
    color: white;
    margin: 2rem;
    height: max-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    input {
      width: 35rem;
    }

    & > div {
      margin: .5rem;
      display: flex;
      justify-content: space-between;
      width: 50rem;
    }
  }
}